.preback{
    width: 100vw;
    height: auto;
    position: fixed;
    padding: 25px;
    z-index: 5000;
}

.back{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    // gap: 100px;
}

.things{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.timer{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.timer2{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.nav{
    display: flex;
    flex-direction: row;
}

.login_back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 20px rgba(129, 0, 150, 0.5);
    img{
        width: 40px;
        height: 40px;
    }
}

.arrow{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: white;
}

.menu{
    background-color: rgba(255, 255, 255, 0.108);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 0.5px solid white;
    border-radius: 25px;
    font-family: 'Orbitron';
font-style: normal;
font-weight: 400;
display: flex;
height: 50px;
    flex-direction: row;
    gap: 25px;
    font-size: 16px;
    padding: 0 20px;
    justify-content: center;align-items: center;
}

